/* progress bar */
#pb {
    height: 20px;
}


table, tr, td {
    border: 1px solid black;
}

div#log {
    border: 1px solid black;
    height: 50px;
    width: 200px;
}

div#cats {
    /*border: 1px dashed black;*/
}
