/* progress bar */

body {
    font-size: 0.75em;
}
#pb {
    height: 20px;
}



div#log {
    height: 50px;
    width: 200px;
}

div#chart_div {
    display: none;
}
div#form {
    display: none;
}

#comptes tr:hover {
    background-color: #FFCC33;
    cursor: pointer;
}

div.operations {
    width: 800px;
    border: 1px solid black;
}
div.operations .operations-table  {
    width: 800px;
}
table, tr, td {
    border-collapse: collapse;
}
tr.selected {
    background-color: orange;
}


