html {
    background-color: #39414A;
}

body {
    position: absolute;
    top:0;
    bottom:0;
    font-size: 0.7em;
    margin: 0;
    min-height: 1000px;
    height:100%;
    width:100%;
}

/***************** TOP PANEL *************************/
.top-panel {
    margin-bottom: 20px;
    clear: both;
    overflow: auto;
    padding: 5px;

}


.month-choice, .solde-all, .solde-p {
    float: left;
}
.solde-all, .solde-p {
    margin-left: 20px;
}

/***************** MAIN PANEL *************************/
.main-panel {
    margin: auto;
}
.main-panel table {
    width: 100%;
    padding: 5px;
    border: 1px solid #AAAAAA;
}

.op-table {
    width: 100%;
    margin: auto;
}

.op-id, .op-value, .op-cats, .op-date, .op-actions {
    padding-left: 10px;
    padding-right: 10px;
   /* border: 1px dashed black;*/
}
.op-date {  width: 15%; text-align: center;}
.op-id   {  width:  5%; text-align: center;}
.op-value  {  width: 15%; text-align: right; }


.op-buttons {
    margin: 20px;
}



#tabs {
    width: 1000px;
    margin: auto;
}

/***************** LOGGER *************************/

#logger {
    font-size: 1em;
    font-weight: bold;
    position: fixed;
    bottom: 2px;
    z-index: 1000;
    left:40%;
    width: 20%;
    z-index: 10000;
}

.info, .error, .success {
    text-align:center;
    padding: 5px;
    -moz-border-radius: 5px;
    margin-top: 2px;
}

.info    { background-color: rgba(198, 198, 198, 0.5); }
.error   { background-color: rgba(200, 0, 0, 0.5);     }
.success { background-color: rgba(0, 200, 0, 0.5);     }

#logger .ui-icon { cursor: pointer; }


/***************** FORM *************************/

div#form {
    display: none;
    font-size: 12px;
}
.month-choice select {
    background:none repeat scroll 0 0 #FFFFFF;
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 0 5px #B2B2B2;
    border:1px solid #C0C0C0;
    color:#5A5A5A;
    min-width:250px;
    outline:medium none;
    padding:2px 7px;
    width:30%;
}

#form select {
    background:none repeat scroll 0 0 #FFFFFF;
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 0 5px #B2B2B2;
    border:1px solid #C0C0C0;
    color:#5A5A5A;
    width:220px;
    outline:medium none;
    padding:2px 7px;
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
}

.form-row {
    clear:both;
    margin:1.5em 0 0;
}

.form-row label {
    display: inline-block;
    cursor:pointer;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

.form-row input, .form-row textarea {
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
    border:1px solid #C0C0C0;
    color:#5A5A5A;
    outline:medium none;
    padding:2px 7px;
    width:200px;
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 0 5px #B2B2B2;
}

.form-row input:hover, .form-row textarea:hover {
    background:none repeat scroll 0 0 #FFFFFF;
}

.form-row input:focus, .form-row textarea:focus {
    background: none;
}

#form .form-icon {
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
}
.form-a {
    font-size: 10px;
    margin: auto;
    margin-top: 10px;
    text-align:center;
}

#op-form .date img {
    cursor: pointer;
}
#op-form .date input:hover {
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
}

/***************** MAIN *************************/
#main {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 0;
    padding: 10px;
   -moz-box-shadow: 1px 1px 13px #999;
    -webkit-box-shadow: 1px 1px 13px #999;
    box-shadow: 1px 1px 13px #999;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    min-height: 500px;
}


/***************** BANNER *************************/

#header {
    margin: auto;
    margin-top: 0;
    width: 80%;
}

#header h1 {
    margin-bottom:0;
    margin-left: 50px;
}
#header h1 a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header .nav {
    margin-top:0;
    margin-bottom:0;
    margin-right: 50px;
    text-align:right;
}
#header .nav a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;

    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    width: 100px;
}

#header .nav a:hover {
    color: white;
}

#header .nav a.selected {
    color: white;
}


/***************** END BANNER *************************/



div#chart_div {
    display: none;
}

#comptes tr:hover {
    background-color: #FFCC33;
    cursor: pointer;
}

.operations-table {
}

div.operations .operations-table  {
    width: 100%;
}


/* opérations */
.operations {
    overflow: auto;
    width: 100%;
}
.div-op-table {
    width: 80%;
}
/*
.operations .chart-line {
    float: left;
    margin-left: 20px;
}
*/
.clear-both {
clear: both;
border: 1px solid black;
}

/* tab stats */
#tab-stats {
    height: 100%;
}
#tab-stats-top {
    float:none;
    overflow: auto;
    width: 100%;
}

#tab-stats-bottom {
    float:none;
    overflow: auto;
    width: 100%;
}
#tab-stats-graph {
    min-height: 400px;
    float: left;
}
#tab-stats-graph-debit {
    width: 100%;
}
#tab-stats-graph-credit {
    width: 100%;
}


#tab-stats-cat-tree {
    width:  250px;
    float: left;
}

#pie-debit {
    float: left;
}

#line-debit, #line-credit {
    float: left;
}

#pie-credit {
    float: left;
}

#total-stats {
    float: left;
}


#tab-stats-slider {
    float: left;
    margin: auto;
    text-align: center;
}

#slider-range {
    height: 200px;
    margin: auto;
}


#submenu {
    text-align: right;
    width: 90%;
}
#submenu a {
    text-decoration: none;
    color: black;
}
#submenu a:hover {
    text-shadow: 2px 2px 4px #999;
}


.ldc-icon {
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 4px;
    float: right;
    cursor: pointer;
background: none;
}

#test-stats {
    width: 500px;
    float: left;
    margin: 20px;
}

#stats-evol {
    width: 700px;
    float: left;
    margin: 20px;
}

#stats {
    background-color: white;
    min-height: 500px;
}

#stats-area {
width: 800px;
height: 300px;
margin: auto;
        text-align:center;
}

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}

#stats .header {
    text-align:center;
}
#stats .header select {
    margin: 10px;
}

